<h1>Hi <%= @booking.room.user.username %></h1>

<p>
	Your room has been booked by <%= @booking.user.username%>
</p>
<strong><%= @booking.start_date.to_formatted_s(:rfc822)%> To</strong>
<strong><%= @booking.end_date.to_formatted_s(:rfc822)%></strong>