<h4>Welcome to Rent a Room</h4>
<p>
<%if @rooms.empty? %>
<p> No rooms found</p>
<%else%>

	<% @rooms.each do |room| %>
 
	<%if (room.is_authorized == true) %>
	
		<%= link_to image_tag(room.images.url), room %>	
		<%= link_to image_tag(room.name), room %>
	
	 <%end%>
    <%end%>
<%end%>
<%= will_paginate @rooms %>
<p><%= link_to "Add room", new_room_path %></p>

