 <div class="alert alert-danger">
      <h2><%= pluralize(@city.errors.count, "error") %>:</h2>

      <ul>
      <% @city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>